---
import Layout from "@/components/component/Layout.astro";
import { db } from "@/lib/db/postgres";
import { conditions } from "@/lib/db/schema";
import {Component} from "@/components/component/AreaChart"
import {max, sql} from 'drizzle-orm';
import { time_bucket } from '@/lib/db/timescale'

const user = Astro.locals.user;
if (!user) {
    return Astro.redirect("/login");
}

const chartdata = await db.select().from(conditions).where(sql`${conditions.time} > NOW() - INTERVAL '10 minutes'`).then((v) => v.reverse());

const fifteen_min = time_bucket(conditions.time, "1 minute").as("fifteen_minutes")

const chartdata2 = await db.select({
    time: fifteen_min,
    cpu_temperature: sql`max(${conditions.cpu_temperature})`.mapWith(conditions.cpu_temperature),
    cpu_usage: sql`max(${conditions.cpu_usage})`.mapWith(conditions.cpu_usage),
    memory_usage: sql`max(${conditions.memory_usage})`.mapWith(conditions.memory_usage),

})
    .from(conditions)
    .where(sql`${conditions.time} > NOW() - INTERVAL '3 hours'`)
    .groupBy(fifteen_min)
    .orderBy(fifteen_min);

---

<Layout>
    <main class="container relative mt-12">
     
    <Component chartData={chartdata2} client:load ></Component>
    </main>
</Layout>